.env
properties.env
.DS_Store
__pycache__/
*.pyc
*.pyo
.idea/
logs/
*.log
.venv/
output/
screen/
error_*.png
screenshot*.png
search_action_failed.png
wikipedia_homepage.png
users.db
*.sqlite
*.sqlite3
