Flask
Werkzeug
pandas
requests
selenium
pydantic
typing-extensions
langchain
langchain-openai
langchain-community
python-dotenv
jira
py-trello
chromedriver-autoinstaller
Flask-SQLAlchemy
python-dotenv
openpyxl
SQLAlchemy
pytest

